body {
  margin:0;
  padding:0;
  overflow: hidden;
  /* background-color: white; */
  background-image: url("images/doodle.jpg");
  background-size: 40%;

}
canvas {
  margin:auto;
}

#logo-wrapper-div{
  width: 100%;
  background-color: rgb(239, 224, 186);
  text-align: left;
  display: flex;
}

h1 {
  position: absolute;
  font-family: 'georgia';
  font-weight: lighter;
  font-size: 24px;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 3%;
  padding-top: 10px;

}

.buttons-wrap-div{
  margin-left: 42%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#saved-drawings-list-wrapper{
  padding-top: 20px;
  margin-left: 10px;
}

#sketch-holder {
  margin:auto;
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons-wrap-div{
  margin-top: 1%;
}


.far{
  color: white;
}
